[submodule "SensibLaw"]
	path = SensibLaw
	url = https://github.com/chboishabba/SensibLaw.git
[submodule "SL-reasoner"]
	path = SL-reasoner
	url = https://github.com/chboishabba/SL-reasoner.git
[submodule "tircorder-JOBBIE"]
	path = tircorder-JOBBIE
	url = https://github.com/chboishabba/tircorder-JOBBIE.git
[submodule "WhisperX-WebUI"]
	path = WhisperX-WebUI
	url = https://github.com/chboishabba/WhisperX-WebUI.git
[submodule "reverse-engineered-chatgpt"]
	path = reverse-engineered-chatgpt
	url = https://github.com/chboishabba/reverse-engineered-chatgpt.git
[submodule "chat-export-structurer"]
	path = chat-export-structurer
	url = https://github.com/1ch1n/chat-export-structurer.git
[submodule "StatiBaker"]
	path = StatiBaker
	url = https://github.com/chboishabba/StatiBaker.git
[submodule "notebooklm-py"]
	path = notebooklm-py
	url = https://github.com/teng-lin/notebooklm-py.git
[submodule "Chatistics"]
	path = Chatistics
	url = https://github.com/MasterScrat/Chatistics.git
[submodule "pyThunderbird"]
	path = pyThunderbird
	url = https://github.com/WolfgangFahl/pyThunderbird.git
[submodule "SimulStreaming"]
	path = SimulStreaming
	url = https://github.com/ufal/SimulStreaming.git
[submodule "whisper_streaming"]
	path = whisper_streaming
	url = https://github.com/ufal/whisper_streaming.git
[submodule "openrecall"]
	path = openrecall
	url = https://github.com/openrecall/openrecall.git
[submodule "doctr"]
	path = doctr
	url = https://github.com/mindee/doctr.git
[submodule "SeaMeInIt"]
	path = SeaMeInIt
	url = https://github.com/chboishabba/SeaMeInIt.git
[submodule "JesusCrust"]
	path = JesusCrust
	url = https://github.com/chboishabba/JesusCrust.git
[submodule "moltbook-api-client"]
	path = moltbook-api-client
	url = https://github.com/lbke/moltbook-api-client.git
