[submodule "SensibLaw"]
	path = SensibLaw
	url = https://github.com/chboishabba/SensibLaw.git
[submodule "SL-reasoner"]
	path = SL-reasoner
	url = https://github.com/chboishabba/SL-reasoner.git
[submodule "tircorder-JOBBIE"]
	path = tircorder-JOBBIE
	url = https://github.com/chboishabba/tircorder-JOBBIE.git
[submodule "WhisperX-WebUI"]
	path = WhisperX-WebUI
	url = https://github.com/chboishabba/WhisperX-WebUI.git
[submodule "reverse-engineered-chatgpt"]
	path = reverse-engineered-chatgpt
	url = https://github.com/chboishabba/reverse-engineered-chatgpt.git
[submodule "chat-export-structurer"]
	path = chat-export-structurer
	url = https://github.com/1ch1n/chat-export-structurer.git
[submodule "StatiBaker"]
	path = StatiBaker
	url = https://github.com/chboishabba/StatiBaker.git
