altair
annotated-doc
annotated-types
anyio
attrs
black
blinker
blis
cachetools
catalogue
certifi
certifi
cffi
cffi
cfgv
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cryptography
ctranslate2
curl_cffi
curl_cffi
cycler
cymem
distlib
-e git+https://github.com/chboishabba/SensibLaw.git@8c2b623e829a4310930a026426e1140d215e075b#egg=sensiblaw
fastapi
faster-whisper
filelock
fonttools
gitdb
GitPython
gradio_client
graphviz
hypothesis
identify
idna
iniconfig
Jinja2
jsonschema
jsonschema
jsonschema-specifications
kiwisolver
librosa
librt
MarkupSafe
matplotlib
murmurhash
mypy
mypy_extensions
narwhals
networkx
networkx
nltk
nodeenv
numpy
numpy
ofxparse
packaging
pandas
pathspec
pdfminer.six
piecash
pillow
platformdirs
playwright
plotly
pluggy
pre_commit
preshed
protobuf
pyarrow
pyaudio
pycparser
pycparser
pydantic
pydantic_core
pydeck
Pygments
pynput
pyparsing
pytest
python-dateutil
pytokens
pytz
PyYAML
PyYAML
qifparse
referencing
requests
requests
rpds-py
ruff
setuptools
six
smart_open
smmap
sortedcontainers
spacy
spacy-legacy
spacy-loggers
srsly
starlette
streamlit
tenacity
thinc
toml
torch
tornado
tqdm
typer-slim
typing_extensions
typing-inspection
tzdata
urllib3
vaderSentiment
virtualenv
wasabi
watchdog
weasel
webrtcvad
websockets
whisperx
wrapt
